.article-list.theme3 {
    .title {
        display: inline-block;
        width: 73%;
        margin-bottom: 0;
    }
    .time {
        float: right;
        font-size: 12px;
        line-height: 20px;
        color: #888;
    }
    .summary {
        font-size: 12px;
    }
}
