.main-content {
    min-height: 100px;
}

.drop-module {
    position: relative;
    margin-top: -1px;
    border: 1px solid transparent;
    user-select: none;
    z-index: 10;
    &:first-of-type {
        margin-top: 0;
    }
    * {
        cursor: default;
    }
    &:hover,
    &.active {
        border: 1px solid #37a1ec;
    }
    &.moving {
        border: 1px solid #37a1ec;
        opacity: .7;
        cursor: move;
        pointer-events: none;
        .module-control {
            display: block;
        }
    }
    &:hover {
        .module-control {
            display: block;
        }
    }
}

.module-placeholder {
    height: 50px;
    line-height: 50px;
    border: 1px dashed #EC6941;
    background: #FFE5CD;
    color: #EC6941;
    text-align: center;
}

.module-control {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 24px;
    text-align: center;
    animation: fadeIn .2s ease;
    &>span {
        position: absolute;
        top: 0;
        height: 24px;
        border: 1px solid #37a1ec;
        background: #fff;
        color: #37a1ec;
    }
    .module-move {
        left: 50%;
        width: 36px;
        border-top: none;
        border-radius: 0 0 3px 3px;
        transform: translateX(-50%);
        cursor: move;
    }
    .module-delete {
        right: 0;
        width: 26px;
        border-width: 0 0 1px 1px;
        border-radius: 0 0 0 3px;
        cursor: pointer;
        &:hover {
            border-color: #E03507;
            background: #E03507;
            color: #fff;
        }
    }
}


/* 配置盒子 */

.option-box {}
